$body-font-family: ProximaNova-Regular, "Avenir", Helvetica, Arial, sans-serif;
$font-size-root: 14px;

$list-item-title-font-size: 16px;
$list-item-dense-title-font-size: 16px;

$data-table-regular-header-font-size: 16px;
$data-table-regular-row-font-size: 16px;

// @import "~vuetify/src/styles/styles.sass";

// $material-light: map-merge(
//   $material-light,
//   (
//     "bg-color": map-get($red, "lighten-4") !important
//   )
// );
// $material-dark: map-merge(
//   $material-dark,
//   (
//     "bg-color": map-get($red, "lighten-4") !important
//   )
// );
